@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body
{
    margin: 15px;;
}
a{
    color:white;
    text-decoration: none;
}
.gamachi
{
    color:tan;
}
.gukbap
{
    color:tan;
}
.mcdonald
{
    color:tan;
}
.momstouch
{
    color:tan;
}
.subway
{
    color:tan;
}
h1 
{
    background-color: black; 
    font-family: 'Nanum Gothic',sans-serif;
    font-size:45px;
    text-align:center;
    border-bottom:3px solid #ffffff;
    margin:0;
    padding:20px;
}
h2
{
    font-family: 'Nanum Gothic',sans-serif;
    padding:5px;
    font-size:30px;
    color:black;
    border-bottom:3px solid black;
}
h3
{
    font-family: 'Nanum Gothic',sans-serif;
    font-size:30px;
    color:black;
    border-bottom:3px solid black; 
    padding:5px;
}
h4
{
    font-family: 'Nanum Gothic',sans-serif;
    font-size:30px;
    color:black;
    border-bottom:3px solid black;
    padding:5px;
}
h5
{
    font-family: 'Nanum Gothic',sans-serif;
    padding:5px;
    font-size:30px;
    color:black;
    border-bottom:3px solid black;
}
#menu_background
{
    background-color: black;
}
h2
{
    font-family: 'Nanum Gothic',sans-serif;
    padding:5px;
    font-size:30px;
    color:black;
    border-bottom:3px solid black;
}
ol
{
    font-size:20px;
    color:white;
    /* border-right:3px solid grey; */
    width:300px;
    margin:5px;
    padding:25px;
}
li
{
    font-family: 'Nanum Gothic',sans-serif;
    font-size:20px;
    font-weight: bold;
    padding:15px;
}
#grid
{
    display:grid;
    grid-template-columns: 360px 1fr;
}
#Mainpage
{
    font-size:20px;
    color:black;
}
#menu
{
    font-size:25px;
    border-bottom: 1px solid #ffffff;
}
#menu_select
{
    padding-top:33px;
    font-size:25px;
    border-bottom: 1px solid #ffffff;
}
#Mainpage
{
    font-family: 'Nanum Gothic',sans-serif;
}
#ingredient_table
{
    width:60%;
    overflow-x:auto;
    overflow-y:auto;
}
#ingredient
{
    overflow-x:auto;
}
#Allergy_table
{
    width:40%;
    overflow-x:auto;
    overflow-y:auto;
}
#ingredient_table_subway
{
    width:70%;
    overflow-x:auto;
    overflow-y:auto;
}
#Nutrition_Information
{
    overflow-x:auto;
}
#Allergy
{
    overflow-x:auto;
}
table
{
    font-weight: bold;
    padding-left:10px;
    font-family: 'Nanum Gothic',sans-serif;
    width:100%;
    overflow-x:auto;
    overflow-y:auto;
}
tr
{
    width:100%;
    font-weight: bold;
    padding-left:10px;
    overflow-x:auto;
    overflow-y:auto;
    color:black;
    box-shadow:inset 0 0 8px black;
    color:white;
    background-color: black;
}
th,td
{
    font-weight: bold;
    font-family: 'Nanum Gothic',sans-serif;
    padding-left:10px;
    padding:10px;
    text-align:center;
    overflow-x:auto;
    overflow-y:auto;
    border:2px solid black;
}
thead tr
{
    font-family: 'Nanum Gothic',sans-serif;
    padding-left:10px;
    font-weight: bold;
    background-color: tan;
    color:black;
    overflow-x:auto;
    overflow-y:auto;
    height:70px;
}
#mainpage
{
    font-family: 'Nanum Gothic',sans-serif;
    width:35%;
}
#image_gamachi
{
    padding-left:10px;
}
#image_gukbap
{
    padding-left:10px;
}
#image_mcdonald
{
    padding-left:10px;
}
#image_momstouch
{
    padding-left:10px;
}
#image_subway
{
    padding-left:10px;
}
@media(max-width:780px)
{
    #grid
    {
        display:block;
    }
    ol
    {
        border-right:none;
    }
    #ingredient
    {
        display:block;
    }
    #Mainpage
    {
        display:block;
    }
    #Nutrition_Information
    {
        display:block;
    }
    #Allergy
    {
        display:block;
    }
}