body
{
    margin: 15px;;
}
a{
    color:black;
    text-decoration: none;
}
h1 
{
    font-size:45px;
    text-align:center;
    border-bottom:3px solid grey;
    margin:0;
    padding:20px;
}
h2
{
    padding:5px;
    font-size:30px;
    color:grey;
    border-bottom:3px solid grey;
}
ol
{
    border-right:3px solid grey;
    width:300px;
    margin:5px;
    padding:15px;
}
li
{
    font-size:16px;
    padding:15px;
}
#grid
{
    display:grid;
    grid-template-columns: 360px 1fr;
}
#Mainpage
{
    font-size:20px;
    color:grey;
}

#ingredient
{
    overflow-x:auto;
}
table
{
    width:90%;
    /* border-top:1px solid #444444;
    border-bottom:1px solid #444444;
    border-collapse: collapse; */
    overflow-x:auto;
    overflow-y:auto;
    border-radius:16px;
    box-shadow:inset 0 0 8px DodgerBlue;
}
th,td
{
    /* border-bottom: 1px solid #444444; */
    padding:10px;
    text-align:center;
    /* border:1px solid grey;  */
    overflow-x:auto;
    overflow-y:auto;
    border-radius:16px;
    box-shadow:inset 0 0 8px DodgerBlue;
}
thead tr
{
    background-color:#0d47a0;
    color:#ffffff;
    overflow-x:auto;
    overflow-y:auto;
    border-radius:16px;
    box-shadow:inset 0 0 8px DodgerBlue;
}
tr
{
    font-weight: 550;
    overflow-x:auto;
    overflow-y:auto;
    background-color:lightskyblue;
    color:#ffffff;
    border-radius:16px;
    box-shadow:inset 0 0 8px DodgerBlue;
}
h3
{
    font-size:30px;
    color:grey;
    border-bottom:3px solid grey; 
    padding:5px;
}
#Nutrition_Information
{
    overflow-x:auto;
}
h4
{
    font-size:30px;
    color:grey;
    border-bottom:3px solid grey;
    padding:5px;
}
#Allergy
{
    overflow-x:auto;
}
@media(max-width:780px)
{
    #grid
    {
        display:block;
    }
    ol
    {
        border-right:none;
    }
    h1
    {
        border-bottom:none;
    }
    h2
    {
        border-bottom:none;
    }
    h3
    {
        border-bottom:none;
    }
    h4
    {
        border-bottom:none;
    }
    #ingredient
    {
        display:block;
    }
    #Mainpage
    {
        display:block;
    }
    #Nutrition_Information
    {
        display:block;
    }
    #Allergy
    {
        display:block;
    }
}